@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

#title {
  font-family: "Oswald", 700, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #d38f3e;
}

.Fe-Team {
  font-family: "Oswald", 500, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #d38f3e;
  font-size: 30px;
}

.Ma-Team {
  font-family: "Oswald", 500, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #d38f3e;
  font-size: 30px;
}

#team-cards {
  background-color: #ffcc8a;
}

#next-match {
  background-color: #ffcc8a;
  margin: auto;
}

#match-title {
  font-family: Oswald, 500, sans-serif;
  font-weight: 800;
  color: #d38f3e;
}

#description {
  text-align: left;
}
